# Server configuration
NODE_ENV = "environment_name_here"
PORT = 3000

# Database Configuration
DATABASE_URL="mysql://username:password@localhost:3306/db_name"

# Authentication
JWT_SECRET="your-secret-jwt-key"
REFRESH_TOKEN_SECRET="your-secret-refresh-token-key"

# Stripe configuration
STRIPE_PUBLISHABLE_KEY="your_publishable_key_here"
STRIPE_SECRET_KEY="your_secret_key_here"
STRIPE_WEBHOOK_SECRET="whsec_your_webhook_secret_here"